* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

.container {
  padding-bottom: 10px;
}

.navbar-container {
}

nav > div > img {
  width: 80px;
  height: 25px;
  margin-left: 20px;
  margin-top: 10px;
}

nav > div {
  display: inline-block;
}

.grow-list {
  align-items: center;
  margin-top: 10px;
}

.list {
  margin-top: 2px;
  list-style-type: none;
}

.list-item {
  display: inline;
  margin-left: 20px;
}

.button-group {
  float: right;
  margin-right: 50px;
}
